:root {
  --background-color: #252323;
  --text-color: #f0f8ff;
  --btn-colors: #21cefd;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.nav-btn {
  background-color: var(--btn-colors);
  color: var(--background-color);
}
