.flex-row {
  display: flex;
  flex-direction: row;
}
.navBar {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
}

.nav-btn {
  padding: 5px, 5px;
  border: none;
  border-radius: 3px;
}
.marg-5 {
  margin-inline: 5px;
}
button {
  padding: 10px 7px;
  align-items: center;
}
.font-btn {
  font-size: 1.5rem;
}
