.flex-row {
  display: flex;
  flex-direction: row;
}
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
}

.nav-btn {
  padding: 5px, 5px;
}
.marg-5 {
  margin-inline: 5px;
}
